<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./main/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="./leaflet/leaflet-search.css" />
    <link rel="stylesheet" type="text/css" href="./main/index.css"/>
    <link rel="stylesheet" type="text/css" href="./leaflet/leaflet-routing-machine.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>

    <link rel="icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="./main/jquery.fileupload.css">
    <!--<link rel="stylesheet" href="./main/jquery.fileupload-ui.css">-->
    <!--<link rel="stylesheet" href="./main/jquery.fileupload-noscript.css">
    <link rel="stylesheet" href="./main/jquery.fileupload-ui-noscript.css">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
    <script src="./main/openlocationcode.min.js"></script>
    <script src="./leaflet/leaflet-geosearch.js"></script>
    <script src="./youtube/cors_upload.js"></script>
    <script src="./youtube/simple_upload2.js"></script>
    <script src="./main/jquery.ui.widget.js"></script>
    <script src="./main/jquery.iframe-transport.js"></script>
    <script src="./main/jquery.fileupload.js"></script>
    <script src="./main/profilejs.js"></script>

    <script type="text/javascript">
      handleOnLoad = function() {
        L.Icon.Default.imagePath = 'https://unpkg.com/leaflet@0.7.7/dist/images/';
      }
    </script>

    <title>WhereMI</title>
  </head>
  <body onload="handleOnLoad()" class="mp" >
    <noscript>
      <strong>We're sorry but our website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="map-wrapper" style="position:fixed; text-align:center; border-right: 1px solid rgba(0,0,0,0.3); box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px; z-index: 0;">
      <div id="map" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="z-index: 0;">
      </div>
      <!--<button class="btn btn-primary" id="invisible" type="button" onclick="change()">change</button>-->
      <img src="./img/paul.svg" onclick="facade.getGraphics().change()" id="invisible" style="width:15%; height:15%" alt=""/>

    </div>

    <div class="container-fluid" id="menu" style="text-align: center">
      <div class="row mt-2 mb-2">
      <div class="col">
        <div class="float-right" align="left" style="width: 100%;">
          <a href="./"><img class="" src="./img/paul.svg" style="height: 38px" alt=""></a>
          <% if (!user) { %>
          <a href="/login"><button class="btn btn-primary float-right" type="button" id="buttonLogin" style="height: 100%;">Login</button></a>
          <% } else { %>
          <a href="/logout"><button class="btn btn-primary float-right" type="button" id="buttonLogout">Logout</button></a>
          <% } %>
        </div>
      </div>
      </div>
      <div class="row">
    <div class="col">
    <ul class="nav nav-tabs btn-block" role="tablist">
      <li class="nav-item" style="width: 25%">
        <a class="nav-link active text-secondary" href="#feed" role="tab" data-toggle="tab" >Feed</a>
      </li>
      <li class="nav-item" style="width: 25%">
        <a class="nav-link text-secondary" href="#inspect" role="tab" data-toggle="tab">Inspect</a>
      </li>
      <li class="nav-item" style="width: 25%">
        <a class="nav-link text-secondary" href="#profile" role="tab" data-toggle="tab">Profile</a>
      </li>
      <li class="nav-item" style="width: 25%">
        <a class="nav-link text-secondary" href="#voice" role="tab" data-toggle="tab">Voice</a>
      </li>
    </ul>
  </div>
      </div>
      <!--<button class="btn btn-primary" id="invisible2" type="button" onclick="change()">change</button>-->

          <img src="./img/paul.svg" onclick="facade.getGraphics().change()" id="invisible2" style="width:15%; height:15%;" alt=""/>

    <!-- Tab panes -->
    <div class="tab-content h-100">
      <div role="tabpanel" class="tab-pane fade-in active show h-100" id="feed">

      </div>
      <div role="tabpanel" class="tab-pane fade-in h-100" id="inspect" >
      </div>
      <div role="tabpanel" class="tab-pane fade-in h-100" id="profile">
        <%if(user){%>
        <!--<body>-->
        <div class="container ">
            <div class="row profile">
                <div class="col-lg-12">
        			<div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div>
                <label for ="uploadpic">
                <div class ="centering">
        				<div class="image-cropper">
                  <img src="../img/standard_profile.jpg" class="profile-pic" id="profilepic" alt=""/>
                </div>
                </div>
                </label>
                <input id="uploadpic" type="file" accept="image/*" style='display: none'/>
              </div>
            </div>
        				<!-- END SIDEBAR USERPIC -->
        				<!-- SIDEBAR USER TITLE -->
        				<div class="profile-usertitle">
        					<div class="profile-usertitle-name bigger">
        						<%=user.username %>
        					</div>
        					<div class="profile-usertitle-job input-group">
                    <% if (!user.bio) { %>
                      <span class = "bio-span">
                      <input type="text" name="newBio" placeholder="Inserisci la tua nuova bio!" class="bio-container" id="bioAggiornata" style ="height: 35px;">
                      <span class="input-group-btn" style="border-radius: 4px;"><button class="btn btn-primary" type="button" onclick="aggiornaBio()" style="line-height: 21px;">Salva</button></span>
                      </span>

                      <% } else { %>
                      <span class = "bio-span" id="spanbio"><%=user.bio %><img src ="../img/editbio.png" onclick="cambiaLayoutBio('nuova')" height="20px"></span>
                    <% } %>
                    <div class="centering p-2">
                      <button class="btn btn-primary" onclick="carica_video()">Edit videos</button>
                  </div>
                    <div id="usersvideos">
                    </div>
        					</div>
        				</div>
        				<!-- END SIDEBAR USER TITLE -->
        				<!-- SIDEBAR MENU -->
        				<div class="profile-usermenu text-center">
        					<!--<div class="card-container text-center">

                  </div>-->
        				</div>
        				<!-- END MENU -->
                    </div>
                </div>
      </div>
      <%}else{ %>
          <div style="display: inline-block; text-align: center;"><p>You're not Logged In!</p></div>
      <% } %>
    </div>
    <!--<div id="headerPopup" class="">-->
    <div role="tabpanel" class="tab-pane fade-in h-100" id="voice">
     <!-- <div class="test-container-for-vids" id="vid-container" style="height: 350px; width: 100%; border-color: red; border-style: solid; border-width: 1px;">
        <iframe type="text/html" class="embed-responsive-item" id="video-frame" width="100%" height="100%" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <button class="btn btn-primary dis" id="buttonWmi" onclick="badPaulWmi()" >Where am i?</button>
      <button class="btn btn-primary dis" id="buttonWhy" onclick="badPaulWhy()" >Why</button>
      <button class="btn btn-primary dis" id="buttonMore" onclick="badPaulMore()" >More</button>
      <br>
      <button class="btn btn-primary dis" id="buttonNext" onclick="badPaulNext()" >Next</button>
      <button class="btn btn-primary dis" id="buttonPrev" onclick="badPaulPrev()" >Previous</button>
      <button class="btn btn-primary dis" id="buttonPause" onclick="badPaulPause()" >Pause</button>
      <br>
      <button class="btn btn-primary dis" id="buttonCont" onclick="badPaulContinue()" >Continue</button>
      </div>-->
      <div class="test-container-for-vids" id="vid-container" style="height: 100%; width: 100%; border-color: red; border-style: solid; border-width: 1px;">
        <iframe type="text/html" class="" id="video-frame" width="100%" height="100%" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
                <button class="btn btn-primary dis" id="buttonWmi" onclick="badPaulWmi()" >Where am i?</button>
                <button class="btn btn-primary dis" id="buttonWhy" onclick="badPaulWhy()" >Why</button>
                <button class="btn btn-primary dis" id="buttonMore" onclick="badPaulMore()" >More</button>
                <button class="btn btn-primary dis" id="buttonMore" onclick="badPaulHow()" >How</button>
                <br>
                <button class="btn btn-primary dis" id="buttonNext" onclick="badPaulNext()" >Next</button>
                <button class="btn btn-primary dis" id="buttonPrev" onclick="badPaulPrev()" >Previous</button>
                <button class="btn btn-primary dis" id="buttonPause" onclick="badPaulPause()" >Pause</button>
                <br>
                <button class="btn btn-primary dis" id="buttonCont" onclick="badPaulContinue()" >Continue</button>
                </div>
    </div>
    </div>
    </div>
    <!--<canvas id="canvas" width="1920" height="1080" style="display: none" tabindex="-1"></canvas>-->
  

    <script type="text/javascript" src="./main/utils.js"></script>
    <script type="text/javascript" src="./navigator/artyom.window.min.js"></script>
    <script type="text/javascript" src="./youtube/leafletmods.js"></script>
    <script type="text/javascript" src="./youtube/ytsearcher.js"></script>
    <script type="text/javascript" src="./youtube/simplerecorder.js"></script>
    <script type="text/javascript" src="./wikipedia/wikipedia.js"></script>
    <script type="text/javascript" src="./leaflet/Leaflet.Control.Custom.js"></script>
    <script type="text/javascript" src="./leaflet/leaflet-routing-machine.js"></script>
    <script type="text/javascript" src="./main/itinerary.js"></script>
    <script type="text/javascript" src="./main/pointofinterest.js"></script>
    <script type="text/javascript" src="./navigator/navigatorController.js"></script>
    <script type="text/javascript" src="./navigator/pollonavigator.js"></script>
    <script type="text/javascript" src="./leaflet/L0.Control.Locate.js"></script>
    <script type="text/javascript" src="./main/users.js"></script>
    <script type="text/javascript" src="./main/graphics.js"></script>
    <script type="text/javascript" src="./main/facade.js"></script>
    <script type="text/javascript" src="./main/leaflet.js"></script>
    <script type="text/javascript" src="./main/mPopup.js"></script>
    <script type="text/javascript" src="./main/fakevoice.js"></script>

  </body>
</html>
