<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
	:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background:  white;
  /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
}


.row{
  padding-top: 10%;
  padding-right: 0%;
  padding-left: 35%;
}
.btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.margined{
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-left: 5%;
}
.padded{
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-left: 5%;

}
.img-container{
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 50%;
    width: 50%;
    height: 30%;
}
.username-container{
    background-color:  white;
    height: 5%;
    width: 90%;
    text-align: center;
}
.bio-container{
    width: 90%;
    height: 6%;
    text-align: left;
}
.bio-p{
    font-size: 10pt;
}
.itineraries-container{
    height: 28%;
    width: 90%;
    overflow-y: scroll;
}
.container{
    background: burlywood;
}

</style>
<body>
	<div class="container">
            <div class="img-container padded margined">
                <img src="../img/64x64.png"></img>
            </div>
             <div class="username-container padded margined"><h5 class="">Toyoki</h5></div>
             <div class="bio-container padded margined"><p class="bio-p padded">questa è la mia bio lalalala</p></div>
             <div class="itineraries-container padded margined"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil facilis facere, dolore minima officia incidunt perspiciatis ipsam aliquam officiis, illum quo, dolorem repellendus autem dolor nulla hic ullam porro quam.</p><br>
             </div>
            </div>
  </body>




















<!--<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Name: <%= user.displayName %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
</p>
<a href="/logout">Log out</a>-->