<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->
<style>
    body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
    
.profile-usermenu {
  margin-top: 30px;
  margin-left: 1%;
    border-color: red;
    border-width: 1px;
    border-style: solid;
}


/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
    .card-container{
        height: 200px;
        overflow: scroll;
    }
    .image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20%;
    }
    .profile-pic {
    height: 100%;
    width: auto;
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    
    }
    

</style>
<script type="text/javascript">
  function aggiornaBio(){
    var x = document.getElementbyId('bioAggiornata');
    $.post("/newbio",x.val(), function(data){
            if(data==='done')
              {
                alert("bio update ok");
              }
          });
  }

 /* app.post('/newbio', function(req,res){
    var newbio = req.body;
    req.user.bio = newbio;
});
va in index.js*/
 




</script>
<body>
<div class="container">
    <div class="row profile">
        <div class="col-md-3"></div>
        <div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class=" image-cropper">
					<img src="../img/standard_profile.jpg" class="profile-pic">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name bigger">
						<%=user.username %>
					</div>
					<div class="profile-usertitle-job">
            <% if (!user.bio) { %>
              
              <input type="text" name="newBio" placeholder="Inserisci la tua nuova bio!" class="bio-container" id="bioAggiornata"></input>
              <button class="btn btn-primary" type="button" onclick="aggiornaBio">Salva</button>
              
              <% } else { %>
              <span class = "bio-span"><%=user.bio %></span>
            <% } %>
            
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<div class="card-container">
                
          </div>
				</div>
				<!-- END MENU -->
            </div>
            <div class="col-md-3"></div>
        </div>
</body>