<form action="/setnewpassword" method="post">
	<div>
	<label>type new password:</label>
	<input type="password" name="password"/><br/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
