body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

#map-wrapper {
width: 70%;
height: 100%;
position: relative;
float: left;
}
#map{
  position: absolute;
}
#app{
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}